$size: 20px;
$fondo-de-color: rgb(230, 8, 8);
$ancho: 100%;
$blue: #065fec;
$green: rgb(14, 230, 14);
$h1Desktop: 30px;
$h1Mobile: 15px;
$parrafoDesktop: 25px;
$parrafoMobile: 10px;
$vista: 1024px;
$tipo-de-letra: verdana;
$alinear-al-centro: center;