@import "../variables/variables";

$redes:(
    color: $blue, 
    centro: $alinear-al-centro,
    fSize: $size,     
    ancho: 16px,
);

div{
    background-color: map-get($redes, color);
    width: map-get($redes, ancho);
}